{% extends "/frontoffice/base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <article class="container flex flex-col space-y-3 text-justify">
        <h2 class="text-xl font-bold text-indigo-500 dark:text-green-400">{{ post.title }}</h2>
        <p class="text-sm text-gray-400">Publié le {{ post.createdAt | date("d/m/Y \\à H:i") }} par {{ user.last_name }}, {% if post.updatedAt is not empty %}mis à jour le {{ post.updatedAt | date("d/m/Y \\à H:i") }}
        {% endif %}</p>
        <p class="font-bold">{{ post.excerpt }}</p>
        <p>{{ post.content }}</p>
    </article>

    <section class="flex flex-col space-y-3 my-8">
        <h3 class="text-lg font-bold text-indigo-500 dark:text-green-400">Commentaires</h3>
        {% for key, message in flashes %}
            {% if key == 'errorFormIsNull' %}
                <span class="text-red-400">{{ message }}</span>
            {% endif %}
        {% endfor %}
        {% if connected %}
        <form action="" method="post" class="w-full my-8 " id="addCommentForm" name="addCommentForm">
            <input name="csrfToken" type="hidden" value="{{ csrfToken }}">
            <label>Votre commentaire
                <textarea name="content" cols="30" rows="6" class="w-full bg-gray-50 dark:bg-gray-400 dark:placeholder-gray-200 rounded focus:ring focus:ring-indigo-500 dark:focus:ring-green-400 focus:outline-none transition resize-none ease-in-out duration-200 p-4" placeholder="Votre commentaire..."></textarea>
            </label>
        </form>
        <button type="submit" form="addCommentForm" name="contactFormSubmit" class="block bg-indigo-500 hover:bg-indigo-600 dark:bg-green-400 dark:hover:bg-green-500 transition ease-in-out text-white rounded mx-auto py-2 px-4">
            <span class="flex items-center">
                <span class="pb-1 mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="mt-1">
                        <path fill="currentColor" d="M3.6 9.6v4.9c0 .7.8 1 1.3.5l2.3-2.7 4.7 3.5c.4.3 1 .1 1.1-.4L16 .9c.1-.6-.4-1-1-.8L.5 5.9c-.5.2-.6.9-.2 1.3l1.6 1.2 4.6-2.2c.4-.2.7.3.4.5L3.6 9.6z"/>
                    </svg>
                </span>
                <span>
                    Envoyer mon commentaire
                </span>
            </span>
        </button>
        {% endif %}
        {% if comments %}
            {% for comment in comments %}
                <article class="border rounded border-gray-100 hover:border-indigo-500 dark:border-gray-500 dark:hover:border-green-400 transition ease-in-out duration-500 p-4">
                    <p>{{ comment.content }}</p>
                    <p class="text-sm text-gray-400">Rédigé par {{ comment.users.first_name }}, le {{ comment.createdAt|date("d/m/Y \\à h:m") }}</p>
                </article>
            {% endfor %}
        {% else %}
            <h4>Aucun commentaires</h4>
        {% endif %}
    </section>
{% endblock %}
