{% extends "/backoffice/base.html.twig" %}

{% block content %}
    <section class="mt-8 p-4">
        <h1 class="md:text-4xl sm:text-6xl font-bold mb-8">Gestion des articles</h1>
        <table class="w-full text-center">
            <thead>
            <tr>
                <th>ID</th>
                <th>ID Article</th>
                <th class="w-2/6">Commentaire</th>
                <th class="w-1/6">Date de création</th>
                <th class="w-1/6">Auteur</th>
                <th class="w-1/6">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr class="hover:bg-gray-50 rounded-xl transition ease-in-out duration-500">
                    <td class="py-8 px-4">{{ comment.id }}</td>
                    <td class="py-8 px-4"><a href="?action=post&id={{ comment.postFk }}">{{ comment.postFk }}</a></td>
                    <td class="text-left px-4"><a href="" class="hover:text-indigo-500 transition ease-in-out duration-500">{{ comment.content }}</a></td>
                    <td class="px-4">{{ comment.createdAt | date("d/m/Y \\à H:i") }}</td>
                    <td class="px-4">Sullivan Berger</td>
                    <td class="flex items-center mx-auto space-x-2 py-8 px-4">
                        {% if comment.verified == 0 %}
                            <a href="" class="bg-green-400 hover:bg-green-500 text-white p-2 rounded-full transition ease-in-out duration-300">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" data-cap="butt" d="m1 9 4 4L15 3"/>
                                </svg>
                            </a>
                        {% elseif comment.verified == 1 %}
                            <a href="" class="bg-yellow-400 hover:bg-yellow-500 text-white p-2 rounded-full transition ease-in-out duration-300">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M1.5 6.5h13v3h-13z"/>
                                </svg>
                            </a>
                        {% endif %}
                        <a href="" class="bg-red-400 hover:bg-red-500 text-white p-2 rounded-full transition ease-in-out duration-300">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" data-cap="butt" d="m13.5 2.5-11 11M2.5 2.5l11 11"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
