{% extends "/backoffice/base.html.twig" %}

{% block stylesheets %}
    <link href="../../css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="mt-8 p-4">
        <h1 class="md:text-4xl sm:text-6xl font-bold mb-8">Modifier un article</h1>
        <form class="flex flex-col space-y-4 my-8" method="post" name="editPostForm" id="editPostForm">
            <input name="csrfToken" type="hidden" value="{{ csrfToken }}">
            <label>Auteur de l'article
                <select name="author" class="lg:w-full bg-gray-50 rounded focus:ring focus:ring-indigo-500 focus:outline-none transition ease-in-out duration-200 p-4">
                    {% for editor in editors %}
                        <option value="{{ editor.id }}">{{ editor.firstName }} {{ editor.lastName }}</option>
                    {% endfor %}
                </select>
            </label>
            <label class="w-full">Titre de l'article
                <input type="text" name="title" {% if request.title %} value="{{ request.title }}" {% else %} value="{{ post.title }}"{% endif %} autocomplete="off" class="lg:w-full bg-gray-50 rounded focus:ring focus:ring-indigo-500 focus:outline-none transition ease-in-out duration-200 p-4" placeholder="Titre de l'article">
                {% for key, message in flashes %}
                    {% if key == 'errorTitleIsNull' %}
                        <span class="text-red-400">{{ message }}</span>
                    {% endif %}
                {% endfor %}
            </label>
            <label class="w-full">Extrait de l'article
                <textarea name="excerpt" id="" cols="30" rows="4" class="block w-full bg-gray-50 rounded focus:ring focus:ring-indigo-500 focus:outline-none transition resize-none ease-in-out duration-200 p-4" placeholder="Extrait de l'article">{% if request.excerpt %}{{ request.excerpt }}{% else %}{{ post.excerpt }}{% endif %}</textarea>
                {% for key, message in flashes %}
                    {% if key == 'errorExcerptIsNull' %}
                        <span class="text-red-400">{{ message }}</span>
                    {% endif %}
                {% endfor %}
            </label>
            <label class="w-full">Corps de l'article
                <textarea name="content" id="" cols="30" rows="10" class="block w-full bg-gray-50 rounded focus:ring focus:ring-indigo-500 focus:outline-none transition resize-none ease-in-out duration-200 p-4" placeholder="Corps de l'article">{% if request.content %}{{ request.content }}{% else %}{{ post.content }}{% endif %}</textarea>
                {% for key, message in flashes %}
                    {% if key == 'errorContentIsNull' %}
                        <span class="text-red-400">{{ message }}</span>
                    {% endif %}
                {% endfor %}
            </label>
        </form>
        <button type="submit" form="editPostForm" name="editPostFormSubmit" class="block bg-indigo-500 hover:bg-indigo-600 transition ease-in-out text-white rounded mx-auto py-2 px-4">
            <span class="flex items-center">
                <span>
                    Enregistrer l'article
                </span>
            </span>
        </button>
    </section>
{% endblock %}
